ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2B2B2B;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, serif;
}

div#sidebar label {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, serif;
    margin: 3px;
}

ul#navbar > li {
    float: left;
}

#nav-logo {
    text-align: center;
    height: 32px;
    display: block;
    margin: 0 auto;
    padding: 8.5px 0 8.5px 8.5px;
}

ul#navbar > li > a {
    display: block;
    color: #EEFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navbar > li > a.link-tab {
    color: #89DDFF;
}

ul#navbar > li > a#todo-list {
    color: #F07178;
}

ul#navbar > li > a:hover {
    background-color: #616161;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}