ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#navbar > li {
    float: left;
}

ul#navbar > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navbar > li > a.link-tab {
    color: #89DDFF;
}

ul#navbar > li > a:hover {
    background-color: #111;
}