ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2B2B2B;
}

ul#navbar > li {
    float: left;
}

ul#navbar > li > a {
    display: block;
    color: #EEFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navbar > li > a.link-tab {
    color: #89DDFF;
}

ul#navbar > li > a#todo-list {
    color: #F07178;
}

ul#navbar > li > a:hover {
    background-color: #616161;
}